@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

:host {
    @include pad($space);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-middle {
    display: flex;
    place-content: center;
    height: 100%;
    margin: auto 0;
}

.no-content-msg {
    color: $color-text-mute;
    font-size: 1.5rem;
    margin: auto 0;
}

.password-container {
    display: flex;
    padding: $space-sm;
    margin: auto 0;
    border: 1px solid $color-bg-secondary;
    border-radius: $space-sm;
}
