<section class="card">
    <div class="card__header">
        <h2>{{ record()?.name }}</h2>
        <button
            class="btn btn--icon"
            (click)="isEdit.set(true)"
        >
            <span class="visually-hidden">Edit</span>
            <fa-icon [icon]="faPenToSquare" />
        </button>
    </div>
    <div class="my-xsm">
        <p class="mute">Type</p>
        <p class="bb-sm">{{ recordType() }}</p>
    </div>
    <div class="my-xsm">
        <p class="mute">Username</p>
        <p
            class="pointer bb-sm underline"
            (click)="copyToClipBoard(record()?.username)"
        >
            {{ record()?.username }}
        </p>
    </div>
    <div class="my-xsm">
        <p class="mute">Password</p>
        <p
            class="password-container pointer bb-sm"
            (click)="copyToClipBoard(record()?.password)"
        >
            {{ password() }}
            <button
                class="btn btn--icon btn--icon--inline"
                (click)="$event.stopPropagation(); togglePassword()"
            >
                <span class="visually-hidden">Toggle password visibility</span>
                @if (passwordVisible()) {
                <fa-icon [icon]="eyeSlashIcon" />
                } @else {
                <fa-icon [icon]="eyeIcon" />
                }
            </button>
        </p>
    </div>
    <div class="my-xsm">
        <p class="mute">Description</p>
        <label
            [for]="'view_description_descr_' + record()?.id"
            class="visually-hidden"
            >Description</label
        >
        <textarea
            [id]="'view_description_descr_' + record()?.id"
            placeholder="No description"
            data-noresize
            disabled
            >{{ record()?.description }}</textarea
        >
    </div>
</section>
