$border-color-primary: #cfcfcf;
$color-text-mute: rgba(255, 255, 255, 0.7);

/**
  Light Theme
 */
// background colors
$bg-color-light-elevated: #f1f3f5;
$bg-color-light-primary: #f8f9fa;
// font colors
$font-color-light: #343a40;

/**
  Dark Theme
 */
// background colors
$bg-color-dark-elevated: hsl(0deg 0% 100% / 10%);
$bg-color-dark-primary: #121212;
// font colors
$font-color-dark: #f9f9f9;

/**
  Exposed color variables
 */
$color-bg-elevated: light-dark($bg-color-light-elevated, $bg-color-dark-elevated);
$color-bg-primary: light-dark($bg-color-light-primary, $bg-color-dark-primary);
$color-bg-system: light-dark(white, black);
$color-font-primary: light-dark($font-color-light, $font-color-dark);
$color-primary: #4fa1f3;
