$border-color-primary: #cfcfcf;
$color-text-mute: #6c757d;

/**
  Light Theme
 */
// background colors
$bg-color-light: #f1f3f5;
$bg-color-light-secondary: #f8f9fa;
// font colors
$font-color-light: #343a40;

/**
  Dark Theme
 */
// background colors
$bg-color-dark: #343a40;
$bg-color-dark-secondary: #212529;
// font colors
$font-color-light: #343a40;
$font-color-dark: #f8f9fa;

/**
  Exposed color variables
 */
$color-bg-primary: light-dark($bg-color-light, $bg-color-dark);
$color-bg-secondary: light-dark($bg-color-light-secondary, $bg-color-dark-secondary);
$color-bg-system: light-dark(white, black);
