@mixin element-base {
    border-radius: var(--space-reg);
}

/**
    Button
*/

.btn {
    @include element-base;
    padding: var(--space-reg);

    &--primary {
        background: var(--clr-primary);
    }

    &--icon {
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        width: fit-content;

        &--inline {
            padding: 0;
        }
    }
}

/**
    Navigation
*/

.navbar {
    width: 100%;

    &>.nav--vertical {
        border-right: 1px solid var(--clr-primary);
        padding-block: var(--space-sm);
    }
}

.nav {
    display: flex;

    &--vertical {
        flex-direction: column;
        height: 100%;
    }
}

.nav__item {
    border-radius: 4px;

    &:last-of-type {
        margin-top: auto;
        margin-bottom: var(--space-reg);
    }
}

.nav__item__link {
    --fs: var(--fs-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-xsm);
    color: var(--clr-text-mute);
    padding: var(--space-xsm);
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: var(--fs);

    &>fa-icon {
        font-size: 1.1rem;
    }

    &:hover {
        color: var(--clr-primary);
    }

    &.active {
        background: var(--clr-bg-elevated);
        position: relative;
        color: var(--clr-text);

        &::after {
            content: "";
            position: absolute;
            left: var(--space-xsm);
            top: 0;
            height: 100%;
            width: 2px;
            background: var(--clr-primary);
        }
    }
}

.nav__toggle {
    display: none;
}

@media (max-width: 480px) {
    .navbar {
        &>.nav--vertical {
            border-top: 1px solid var(--clr-primary);
            border-right: none;
            padding: 0;
        }
    }

    .nav,
    .nav--vertical {
        flex-direction: row;
        justify-content: space-evenly;
        gap: var(--space-reg);
    }

    .nav__item {
        flex: 1;

        &:last-of-type {
            margin: 0;
        }
    }

    .nav__item__link.active::after {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    .nav__toggle {
        display: none;
    }
}

.card {
    background: var(--clr-bg-elevated);
    border-radius: var(--br-reg);
    padding: var(--space-reg);

    &__header {
        display: flex;
        align-items: center;
        gap: var(--space-reg);
    }
}

.form {
    &__group {
        display: flex;
        flex-direction: column;
        gap: var(--space-xsm);
        padding-block: var(--space-sm);

        &>* {
            width: 100%;
        }
    }
}

/** Popup */
.popup {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    background: var(--clr-secondary);
    color: var(--clr-text);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transition: opacity 2.5s ease-out;

    &--hidden {
        opacity: 0;
    }
}

/** Rich Input
*  A rich input field with before and after text
*/

.rich-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: var(--space-sm);
    gap: var(--space-xsm);
    border-radius: var(--br-reg);
    border: 1px solid var(--clr-secondary);
    background: var(--clr-bg-elevated);

    &__input {
        appearance: none;
        width: 100%;
        border: none;
        border-radius: 0;
        outline: none;

        &:focus-within {
            outline: none;
        }
    }

    &__before,
    &__after {
        color: var(--clr-text-mute);
        font-size: var(--fs-sm);
    }
}
