@import "./variables";
@import "./mixins";

@layer base {
    // <a>
    a {
        cursor: pointer;
        text-decoration: none;
    }

    // list ul, li
    ul,
    li {
        list-style: none;
    }

    button.btn {
        @include px($space);
        @include py($space-sm);
    }

    button.icon-btn {
        appearance: none;
        background: none;
        border: none;
        font-size: 1rem;
        color: inherit;
        cursor: pointer;
        width: fit-content;
        padding: $space-sm;
    }

    input, textarea {
        appearance: none;
        border: 1px solid $color-bg-elevated;
        line-height: 1.5rem;
        padding: $space-sm;
        width: 100%;
        border-radius: $space-sm;
        background-color: $color-bg-elevated;
        &:focus,:checked {
            outline: none;
            border-color: $color-primary;
            border-radius: 4px;
        }
    }


    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: $space-sm;
            text-align: left;
            border-bottom: 1px solid $color-bg-elevated;
        }

        tr {
            &:hover {
                background-color: $color-bg-elevated;
            }

            &:nth-child(even) {
                background-color: $color-bg-elevated;
            }
        }
    }
}
