/** Containers */
.container {
    padding-inline: var(--space-reg);

    &--fluid {
        width: 100%;
        max-width: 100%;
    }

    &--max-height {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scrollbar-color: var(--clr-accent);
    }
}

/** Grid */

.grid {
    display: grid;
}

/** Flex */

.flex {
    display: flex;

    &.col {
        flex-direction: column;
    }
}

.f-wrap {
    flex-wrap: wrap;
}

.f-grow {
    flex-grow: grow;
}

.flex-grow-1 {
    flex-grow: 1;
}
