*,
::before,
::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

input,
textarea {
    max-width: 100%;
    border-radius: var(--br-reg);
    border: 1px solid var(--clr-secondary);
    padding-block: var(--space-sm);
    padding-inline: var(--space-reg);
    background: var(--clr-bg-elevated);

    &:focus {
        outline: 1px solid var(--clr-accent);
    }

    &::placeholder {
        color: var(--clr-text-mute);
    }
}

textarea[data-noresize] {
    resize: none;
}
