<section class="content-wrapper">
    <h2>Theme</h2>
    <div class="group">
        <h3>Base theme</h3>
        <div class="container wrap" role="radiogroup">
            <div class="theme-choice">
                <div class="theme-color light">
                    <input
                        id="light"
                        name="theme"
                        type="radio"
                        value="light"
                        (change)="onSelect($event)"
                    />
                </div>
                <label for="light">Light</label>
            </div>
            <div class="theme-choice">
                <div class="theme-color dark">
                    <input
                        id="dark"
                        name="theme"
                        type="radio"
                        value="dark"
                        (change)="onSelect($event)"
                    />
                </div>
                <label for="dark">Dark</label>
            </div>
            <div class="theme-choice">
                <div class="theme-color system">
                    <input
                        id="system"
                        name="theme"
                        type="radio"
                        value="system"
                        (change)="onSelect($event)"
                    />
                </div>
                <label for="system">System</label>
            </div>
        </div>
    </div>
</section>
