<section class="content-wrapper">
    <h2>Theme</h2>
    <div class="group">
        <h3>Base theme</h3>
        <div class="container wrap" role="radiogroup">
            @for (theme of themeChoices; track $index) {
            <div class="theme-choice">
                <div class="theme-color" [ngClass]="theme.value">
                    <input [id]="theme.value" name="theme" type="radio" [value]="theme.value"
                        (change)="onSelect($event)" />
                </div>
                <label [for]="theme.value">{{ theme.label }}</label>
            </div>
            }
        </div>
    </div>
</section>
