@import "styles/main.scss" layer(base);

/* * { */
/*     outline: 2px solid lime; */
/* } */

@layer app {
    #main-header {
        max-height: fit-content;
    }
    .app-wrapper {
        height: 100svh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .main-wrapper {
        flex: 1;
        display: grid;
        grid-template-columns: minmax(max-content, 80px) 1fr;
    }

    .app-wrapper > * {
        height: 100%;
    }

    main {
        padding-block: var(--space-reg);
        padding-bottom: var(--space-reg);
    }

    .password-container {
        display: flex;
        padding: var(--space-xsm);
        margin: auto 0;
        border-radius: var(--space-xsm);
        justify-content: space-between;
    }

    @media (max-width: 600px) {
        .main-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
        }
    }
}
