@import "styles/main.scss" layer(base);

@layer app {
    .main-wrapper {
        height: 100svh;
        max-height: 100svh;
        overflow: hidden;

        display: grid;
        grid-template-columns: minmax(max-content, 80px) 1fr;
    }

    .main-wrapper>* {
        max-height: 100%;
    }

    .password-container {
        display: flex;
        padding: var(--space-xsm);
        margin: auto 0;
        border-radius: var(--space-xsm);
        justify-content: space-between;
    }

    @media (max-width: 480px) {
        .main-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
        }
    }
}
