{{ nothing() }}
<div class="section relative">
  <lib-tree [dataSource]="dataSource" bindLabel="name" [trackBy]="trackBy">
    <ng-template #parentNode let-node="node">
      <div class="node" (contextmenu)="onNodeSelect($event, node)">
        <button (click)="toggleNode($event, node)" class="uni-icon">&#10095;</button>
        {{ node.name }}
      </div>
    </ng-template>
    <ng-template #leafNode let-node="node">
      <div class="node" (contextmenu)="onNodeSelect($event, node)">
        {{ node.name }}
      </div>
    </ng-template>
  </lib-tree>
  <div #contextMenu class="contextMenu" *ngIf="showContextMenu()"
    [ngStyle]="{ top: menuXY()[1] + 'px', left: menuXY()[0] + 'px' }">
    <button (click)="addNode()">Add</button>
    <button (click)="removeNode()">Remove</button>
    <button (click)="removeNode()">Rename</button>
  </div>
</div>
