{{ nothing() }}
<nav class="navbar max-height" [class.expanded]="menuExpanded()">
    <button title="menu-toggle" class="btn btn--icon nav__toggle" (click)="toggleMenu()">
        <fa-icon [icon]="FA_BARS" />
    </button>
    <ul class="nav nav--vertical">
        @for (item of MENU_ITEMS; track item.href) {
        <li class="nav__item">
            <a class="nav__item__link" [routerLink]="[item.href]" routerLinkActive="active">
                <fa-icon class="menu-icon" [icon]="item.icon" />
                <span class="menu-text">{{ item.name }}</span>
            </a>
        </li>
        }
    </ul>
</nav>
