@use "../variables/" as *;
.container {
    width: min(100% - 2 * var(--space-reg), 80rem);

    &--center {
        margin-inline: auto;
    }

    &--fluid {
        min-width: fit-content;
        max-width: 100%;
        margin-inline: 2rem;
    }

    &--max-height {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scrollbar-color: var(--clr-accent);
    }
}

/** Grid */

.grid {
    display: grid;
}

/** Flex */

.flex {
    display: flex;

    &.col {
        flex-direction: column;
    }
}

.f-wrap {
    flex-wrap: wrap;
}

.f-grow {
    flex-grow: grow;
}

.flex-grow-1 {
    flex-grow: 1;
}
