<div class="container">
    <app-record-list
        [records]="records()"
        (recordCreated)="onRecordCreated($event)"
        (recordRenamed)="onRecordRenamed($event)"
        (recordGroupCreated)="onRecordGroupCreated($event)"
        (recordRemoved)="onRecordRemoved($event)"
        (recordSelected)="onRecordSelected($event)"
    />
    <app-record-detail [record]="selectedRecord()" />
</div>

<dialog #dialog>
    <div class="container">
        <p>Hello Senpai</p>
    </div>
</dialog>
