<div class="container--fluid">
    <div class="flex h-100">
        <app-record-list [records]="records()" [selectedRecord]="selectedRecord()"
            (recordCreated)="onRecordCreated($event)" (recordRenamed)="onRecordRenamed($event)"
            (recordGroupCreated)="onRecordGroupCreated($event)" (recordRemoved)="onRecordRemoved($event)"
            (recordSelected)="onRecordSelected($event)" />
        @if (selectedRecordItem()) {
        <app-record-detail [record]="selectedRecordItem()" />
        } @else if (selectedRecordGroup()) {
        <app-record-group-detail [recordGroup]="selectedRecordGroup()" />
        }
    </div>
</div>
